@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #cd7363;
  --bs-btn-border-color: #cd7363;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b45949;
  --bs-btn-hover-border-color: #b45949;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b45949;
  --bs-btn-active-border-color: #b45949;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #cd7363;
  --bs-btn-disabled-border-color: #cd7363;
  color: #f9f1df;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #535c48;
  --bs-btn-border-color: #535c48;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3b4233;
  --bs-btn-hover-border-color: #3b4233;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3b4233;
  --bs-btn-active-border-color: #3b4233;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #535c48;
  --bs-btn-disabled-border-color: #535c48;
  color: #f9f1df;
  font-size: 1.2rem;
  font-weight: 600;
}

body {
  background: #fffbf1;
  font-family: "Noto Sans TC", sans-serif;
}

::selection {
  background-color: #e3d0c4;
}

.container {
  margin: 80px auto 50px;
  max-width: 800px;
}

h3.title {
  color: #535c48;
  text-align: center;
  margin: 15px 0;
}

.form-control {
  padding: 0.7rem 1rem;
  margin-bottom: 15px;
  border-radius: var(--bs-border-radius-lg);
  background: transparent;
  border-color: #555;
}

.form-control:focus {
  background: transparent;
  border-color: #919d82;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #cd736355;
}

.form-check-input:checked {
  background-color: #cd7363;
  border-color: #cd7363;
}

.form-control:focus {
  background: transparent;
}

.form-check-input:focus {
  border-color: #919d82;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #cd736355;
}

/* -----START 導覽列 Navbar----- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #535c48;
  padding: 10px 50px;
  margin: 0;
  z-index: 9999;
}

nav .logo a {
  color: #f9f1df;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #f9f1df;
}

nav .pages {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav .pages a {
  color: #f9f1df;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 18px;
}

nav a.active {
  border: 1px solid;
  border-radius: 10px;
}

nav .burger-icon {
  display: none; /* 默认隐藏在大屏幕上 */
  cursor: pointer;
  font-size: 1.5rem;
  color: #f9f1df;
}

nav .pages-mobile {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #535c48;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 60px 15px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

nav .pages-mobile.show {
  opacity: 1;
  transform: translateX(0);
}

nav .pages-mobile a {
  font-size: 0.95rem;
  padding: 8px;
  color: #f9f1df;
  text-decoration: none;
}

nav .closeNav {
  position: absolute;
  top: 10px;
  right: 10px;
}

nav .closeNav i {
  color: #f9f1df;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    padding: 10px 15px;
  }

  nav .logo a {
    font-size: 1.5rem;
  }

  nav .pages {
    display: none;
  }

  nav .burger-icon {
    display: block;
  }
}
/* -----END 導覽列 Navbar----- */

.swal2-actions {
  flex-direction: row-reverse;
}
